.container {
  padding: 0 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tableContainer {
  height: 400px;
  width: 800px;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  border: 1px solid black;
}


.table {
  border-spacing: 0;
}

.table > tr > th {
  text-align: left;
  padding: 8px;
}

.table > tr > td {
  text-align: left;
  padding: 8px;
}

/* .clusterDetailID,
.clusterDetailTitle,
.clusterDetailAccepted {
  border: solid #0f0f0f;
  border-width: 1px 0px 0px 1px;
}

.clusterDetailAccepted {
  border-width: 1px 1px 0px 1px;
} */

.edit {
  margin: 8px;
}


